
<form [formGroup]="myForm" (ngSubmit)="saveToList(myForm.value)">
  <label>First Name: </label><input type="text" name="First_Name" placeholder="First Name" formControlName="firstName"> <br>
  <label>Last Name: </label><input type="text" name="Last_Name" placeholder="Last Name" formControlName="lastName"> <br>
  <label>Year of Birth: </label><input type="date" name="Birth" placeholder="Date of Birth" formControlName="birth"> <br>
  <label>Year of Death: </label><input type="date" name="Death" placeholder="Date of Death" formControlName="death"> <br>
  <label>Description: </label><input type="text" name="Desc" placeholder="Short Description" formControlName="description"> <br>
  <input type="submit" value="Login">
</form>

<div *ngFor="let dictator of dict" >
  <p>First Name: {{dictator.firstName}}</p>
  <p>Last Name: {{dictator.lastName}}</p>
  <p>Birth: {{dictator.birth}}</p>
  <p>Death: {{dictator.death}}</p>
  <p>Description: {{dictator.description}}</p>
  <p>----------------</p>
</div>

<router-outlet></router-outlet>